:root {
    // Colors
    --violet: hsl(263, 55%, 52%);
    --grayish: hsl(217, 19%, 35%);
    --blackish: hsl(219, 29%, 14%);
    --white-color: hsl(0, 0%, 100%);

    // Color (neutral)
    --gray: hsl(0, 0%, 81%);
    --gray-50: rgba(207, 207, 207, .5);
    --light-gray: hsl(210, 46%, 95%);
    --gray-70: rgba(236, 242, 248, .7);
    --grayish-50: rgba(72, 85, 106, .5);
    --grayish-70: rgba(72, 85, 106, .7);


    // Fonts
    --text-font: 'Barlow Semi Condensed', sans-serif;

}
